body {
	max-width: 100%;
  overflow-x: hidden;
}

.jumbotron{
	padding-top: 6rem;
	background-color: #2e3234;
	overflow-x: hidden;
	max-width: 100%;
}

#gallery{
	background-color: #2e3234;
}

section{
	padding-top: 5rem;
}

.card{
	background-color: #f3f3f3;
}

h2{
	color: #fff;
}

a{
	color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464646;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#contact{
	background-color: #2e3234;
}

.btn-primary{
	border: none;
}