body {
    position: relative;
    overflow-x: hidden;
    display: block;
}

.jumbotron{
	padding-top: 6rem;
	background-color: #2e3234;
}

#gallery{
	background-color: #2e3234;
}

section{
	padding-top: 5rem;
}

.card{
	background-color: #f3f3f3;
}

h2{
	color: #fff;
}

a{
	color: #000;
}